<div class="panel-body">
    <div class="col-md-4">
          <h2>Prayer times</h2>
          <div class="panel panel-default">
              <table class="table">
                <thead>
                <tr>
                  <th>Salah</th>
                  <th>Jamat</th>
                </tr>
                </thead>
              
                <tbody>
                    <tr>
                      <td>Fajr</td>
                      <td>5:30AM</td>
                    </tr>

                    <tr>
                      <td>Zuhr</td>
                      <td>1:45PM</td>
                    </tr>

                    <tr>
                      <td>Asr</td>
                      <td>7:00PM</td>
                    </tr>

                     <tr>
                      <td>Magrib</td>
                      <td>8:36PM</td>
                    </tr>

                    <tr>
                      <td>Isha</td>
                      <td>10:15PM</td>
                    </tr>

                    <tr>
                      <td>Jumah</td>
                      <td>1:50PM</td>
                    </tr>
                </tbody>
              </table>
          </div>
    </div>


    <div class="panel-body">
          <div class="col-md-8">
              <h2>Welcome to Madani Masjid</h2>
                  <p>Located in the heart of Woodside, New York and is easily accessible by public transportation. Madina Masjid is one of the oldest and largest Masaajids which caters to the culturally diverse Muslim population of Woodside. The Masjid holds five time daily prayers, Friday & Eid Prayers, Weekends school and many more Islamic programs and activities.
                  </p>

              <h2>Our Mission</h2>
                  <p>
                    Madani Masjid is an organization dedicated to the full implementation of the Qur’an and the Sunnah (tradition) of our beloved Prophet Muhammad (peace be upon him).  Our vision is to establish an enlightened Muslim Community with a strong Islamic educational institutions.  Madani Masjid intends to respond to the social, economic, political, educational and religious needs facing the Muslims in New York.
                  </p>
         
              <h2>Location </h2>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.8624295490463!2d-73.89774528518342!3d40.74305254365319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25f01e6e33333%3A0xb4f471d7ec936af9!2sMadani+Masjid+Inc!5e0!3m2!1sen!2sus!4v1470775000824" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
    </div>
</div>





