 <div class="panel-body">
<h2>Weekend Islamic School</h2>  
{{!-- <div class="panel panel-default"> --}}
    	<p>Madani masjid offers weekly Islamic school for children ages 5 and up. It is held every Saturday and Sunday from 10:00 AM until 1:30 PM. The school runs throughout the year, with a three month break in the summer.
		</p>
    {{!-- </div> --}}
</div>
{{!-- <div class="panel panel-default"> --}}
<div class="panel-body">
<h2>Philosophy and Goals</h2>
    	<p>The primary objective of Madani masjid's Weekend Islamic school is to teach students to believe in Allah and to practice their deen in accordance with Quran and Sunnah. The goals of Weekend Islamic school are to ensure that students gain knowledge about our deen and applies it in a correct manner in his/her daily life. Another goal is also to provide an Islamic environment for our youth on a weekend day so they can interact and socialize with likeminded youth and don’t get melted away in the non-Islamic society outside. The curriculum includes Quran, Seerah, and Islamic studies. The main elements of the curriculum are 1) Building a Muslim identity and 2) Gaining knowledge of Islamic beliefs and practices. Parents should know that Madani masjid's Weekend Islamic school only plays an additional or secondary role in teaching their children about Islam.</p></br>

		<p>Parents are solely responsible for implementaion of this Islamic teaching and their children’s religious education at large.</p>
 {{!--    </div> --}}
</div>

<div class="panel-body">
<h2>Weekend School hours</h2>
{{!-- <div class="panel panel-default"> --}}

		<table class="table">
		    <thead>
		     <tr>
		        <th>Saturday</th>
		        <th>Sunday</th>
		        <th>Teacher</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>10:00am</td>
		        <td>5:30AM</td>
		        <td>Not sure</td>
		      </tr>
		      <tr>
		        <td>10:00am</td>
		        <td>1:45PM</td>
		        <td>Not sure</td>
		      </tr>
		      <tr>
		        <td>10:00am</td>
		        <td>7:00PM</td>
		        <td>Not sure</td>
		      </tr>
		       <tr>
		        <td>10:00am</td>
		        <td>8:36PM</td>
		        <td>Not sure</td>
		      </tr>
		      <tr>
		        <td>10:00am</td>
		        <td>10:15PM</td>
		        <td>Not sure</td>
		      </tr>
		      <tr>
		        <td>10:00am</td>
		        <td>1:50PM</td>
		        <td>Not sure</td>
		      </tr>
		    </tbody>
		</table>
	{{!-- </div> --}}
</div>